.products-search-block {
  background-color: #eeeeee;
}

.products-search-block input,
.products-search-block select {
  border-radius: 0;
}

.products-search-block .btn { width: 48%; }
@media(max-width: 767px) {
  .products-search-block .btn { width: auto; }
}

.products-menu-block {
  padding: 10px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

.catalog {
  margin: 0;
}

.catalog li {
  padding: 3px 0;
  cursor: pointer;
}

.catalog li ul {
  padding-left: 10px;
}

.catalog .text-black-h3 {
  font-size: 16px;
}


.thumbnail {
  border-radius: 0;
  padding: 0;
  line-height: none;
}

.thumbnail .caption {
  display: inline-block;
  padding: 10px;
  height: 157px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caption-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
}

/*@media(max-width: 767px) and (min-width: 380px) {
  .products-cards { width: 350px; }
}

@media(max-width: 379px) {
  .products-cards { width: 320px; }
}*/


/* Карточка превью изображения продукции */
.file-preview-body { background-color: #fff; }
.file-preview-body .file-preview-frame { margin: 0; margin-right: 5px; }
.file-preview-frame > img { width: auto; height: 140px; }
.file-preview-frame .file-thumbnail-footer { margin-top: 5px; display: block; }
.file-thumbnail-footer > div { line-height: 22px; margin: 0 5px; }

.row-none-margin {
  margin: 0;
}

/*.card-price,
.card-sum-price {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  margin-right: 0.5em;
  padding: 7px 7px 5px;
  font-size: 1.38462em;
  font-weight: 600;
  line-height: 1em;
  white-space: nowrap;
  width: auto;
}*/

.card-price,
.card-sum-price {
  border-radius: 4px;
  display: inline-block;
  font-size: 1.38462em;
  font-weight: 600;
  height: 34px;
  line-height: 20px;
  padding: 7px 7px 5px;
  width: auto;
}
.card-price {
  background: #fff3b5 none repeat scroll 0 0;
}
.modal-footer .card-price {
  background: #fff3b5 none repeat scroll 0 0;
  border-radius: 0 0 4px 4px;
  position: relative;
  top: -15px;
}

.card-price-text {
  position: relative;
  top: -15px;
  display: inline;
  font-size: 18px;
}

.price-total div:first-child { display: inline-block; }

.total-price { display: inline-block; }

.card-price .card-price-uah,
.card-sum-price .card-price-uah {
  font-size: 0.66667em;
  line-height: 1em;
  font-weight: 300;
}
.shopping-cart input {
  border: 1px solid #c2c2cc;
  border-radius: 3px;
  box-shadow: 3px 3px 1px 0 #eeeeef inset;
  box-sizing: content-box;
  display: inline-block;
  font-size: 1.38462em;
  height: 20px;
  padding: 6px;
  resize: none;
  text-align: center;
  width: 45px;
}

.shopping-cart > div {
  display: inline-block;
  vertical-align: top;
}

.in-shoping-cart {
  vertical-align: super;
}

.in-shoping-cart .btn {
  height: 34px;
  padding: 6px;
}

.in-shoping-cart .fa {
  font-size: 27px;
  line-height: 20px;
}

@media(max-width: 767px) {
  .in-shoping-cart .fa {
    font-size: 23px;
    line-height: 20px;
  }
}

/*.shopping-cart-button {
  position: relative;
}*/

.shopping-cart-badge {
  background: #e1704b none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
  position: absolute;
  right: 11px;
  text-align: center;
  top: -8px;
  width: 22px;
  z-index: 1;
}

.cart-quantity {
  padding: 0 15px;
}

.cart-quantity-minus,
.cart-quantity-plus { padding: 0; }

.cart-quantity-minus:hover,
.cart-quantity-plus:hover { color: #d9534f; }

.cart-quantity-minus i,
.cart-quantity-plus i { font-size: 18px; }

/* /Карточка превью изображения продукции */





/* Редактор меню */
.menu {
  counter-reset: li;
  font-size: 16px;
  list-style: outside none none;
  margin-bottom: 0;
  margin-left: -10px;
  padding: 0;
}
.menu-item {
  cursor: pointer;
  color: #1873b4;
  margin: 6px;
}
.menu-empty {
  min-height: 5px;
}
.menu-empty > .sub-menu {
  padding-left: 20px;
}
.sub-menu .fa-angle-down,
.sub-menu .fa-angle-right {
  position: relative;
  top: 4px;
  padding: 0;
  margin: 0;
}
.sub-menu .fa-angle-right {
  text-align: center;
  width: 11px;
}

.fake-width {
  width: 6px;
  display: inline-block;
}
/* /Редактор меню */

.empty-products {
  padding: 8px;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
}

.product-list h4 {
  margin-bottom: 5px;
  margin-top: 0;
}

.count-products { padding: 0; }
@media(max-width: 767px) {
  .count-products { padding: 0 15px; }
}

.product-list .row {
  position: relative;
}

.delete-product {
  background-color: #ea7954 !important;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  opacity: 1;
  position: absolute;
  right: 15px;
  text-align: center;
  text-shadow: none;
  top: -10px;
  width: 25px;
  z-index: 100;
}