@import url(//fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic|PT+Sans:regular,italic,700,700italic|Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:100,300,regular,700&subset=latin,latin-ext,cyrillic,vietnamese,cyrillic-ext,greek-ext,greek);

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.logo-contacts {
  margin: 10px 20px;
}
.section-padding {
  display: inline-block;
  padding-bottom: 100px;
}

.scroller {
  bottom: 50px;
  right: 25px;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  position: fixed;
  z-index: 500;
  display: none;
}
.scroller i {
  color: #e1704b;
  font-size: 37px;
}

.welcome {
  padding-bottom: 100px;
}
.welcome-text {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
  padding-bottom: 100px;
}
.welcome-card img {
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.welcome-card p {
  text-align: justify;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
}
.welocme-cartd-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  padding-bottom: 20px;
  display: block;
}
.welocme-cartd-title:hover {
  color: #e1704b;
  text-decoration: none;
}
.welocme-cartd-more {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  color: #e1704b;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.welocme-cartd-more:hover {
  color: #39a9a4;
  text-decoration: none;
}
.welcome-card a > span {
  position: relative;
  top: -3px;
}

.green-section {
  color: #fff;
  background-color: #39a9a4;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  letter-spacing: 0;
}

.green-section-title {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
  text-transform: uppercase;
}
.green-section-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 20px;
}
.green-section-block {
  padding-bottom: 10px;
}


.padding-top { padding-top: 100px; }

@media(max-width: 1024px) {
  .padding-top { padding-top: 30px; }
}

.sales-title h1 {
  color: #333;
  font-family: "Roboto",sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
}

.sales-list-offices h2 {
  color: #39a9a4;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.sales-list-offices h2:hover {
  color: #e1704b;
}

.sales-list-offices p,
.sales-office-contact {
  color: #999999;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
}

.sales-footer {
  background-color: #e1704b;
}
.navbar-collapse {
  padding: 0;
  z-index: 100;
}
@media(max-width:767px) {
  .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: #333;
  }
}

.fa.fa-bars {
  position: relative;
  display: inline-block;
  margin: 12px 18px;
}

.navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.navbar {
  background-color: #eeeeee;
  border-color: #fff;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}

.navbar-nav > li > a {
  background-color: transparent;
  color: #333 !important;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;

  display: block;
  font-size: 20px;
  padding: 0 37px;

  line-height: 80px;
  text-align: center;

  text-transform: uppercase;
}

@media(max-width: 1290px) {
  .navbar-nav > li > a { padding: 0 25px; font-size: 19px; }
}
@media(max-width: 1100px) {
  .navbar-nav > li > a { padding: 0 10px; font-size: 17px; }
}

@media(max-width: 767px) {
  .navbar-nav > li > a {
    background-color: transparent !important;
    color: #fff !important;

    border: medium none;
    font-size: 17px;
    line-height: 30px;
    padding: 5px 30px;

    text-align: left;
  }
}

.navbar-nav > li > a:hover,
.navbar-nav > .active > a {
  background-color: #333 !important;
  color: #e1704b !important;
  text-decoration: none;
}

@media(max-width: 767px) {
  .navbar-nav > li > a:hover,
  .navbar-nav > .active > a {
    background-color: transparent !important;
    color: #e1704b !important;
    text-decoration: none;
  }
}

@media(max-width: 767px) {
  .navbar-nav > li {
    border-bottom: 1px solid #1a1a1a;
    border-right: medium none;
    padding: 0;
    text-align: left;
    width: 100%;
  }
}

.dropdown:hover > ul {
  display: block;
}

.dropdown > ul {
  min-width: 210px;
  padding: 20px 0;
  white-space: nowrap;
  background-color: #333333;
  border: 0;
  border-radius: 0;
}

@media(max-width: 767px) {
  .dropdown > ul {
    float: none;
    position: relative;
    box-shadow: 0;
    padding: 0;
  }
}

.dropdown > ul > li > a {
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  padding: 0 28px;
  text-decoration: none;
}

.dropdown > ul > li:hover > a {
  background-color: #39a9a4;
  color: #ffffff;
  text-decoration: none;
}

@media(max-width: 767px) {
  .dropdown > ul {
    display: block;
  }
}

@media(max-width: 767px) {
  .navbar-toggle {
    display: inline-block;
    background-color: #e1704b;
    color: #fff;
    margin: 10px 0;
    text-align: center;
    width: 50px;
    padding: 0;
    float: none;
    border-radius: 0;
  }
}

.navbar-toggle:focus,
.navbar-toggle:hover {
  background-color: #e1704b !important;
  color: #000;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel-indicators {
  left: 20%;
  position: absolute;
  text-align: left;
  top: 70%;
  width: 150px;
  bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
@media(max-width:1039px) {
  .carousel-indicators {
    left: 10%;
    top: 65%;
  }
}
@media(max-width:767px) {
  .carousel-indicators {
    left: 15%;
    top: 65%;
  }
}

.carousel-indicators li {
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  height: 14px;
  margin: 0 4px;
  text-align: center;
  width: 14px;
  background-color: #e1704b;
  border: none;
}
@media(max-width:767px) {
  .carousel-indicators li {
    height: 10px;
    width: 10px;
  }
}
.carousel-indicators li.active {
  background-color: #fff;
  height: 14px;
  width: 14px;
  margin: 0 4px;
}
@media(max-width:767px) {
  .carousel-indicators li.active {
    height: 10px;
    width: 10px;
  }
}

.ci_caption {
  left: 20%;
  text-align: left;
  top: 60%;
  transform: translateY(-50%);
  width: 60%;

  color: #fff;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;

  bottom: 0;
  margin: 0;
  padding: 0;
}
@media(max-width:1024px) {
  .ci_caption {
    left: 10%;
    top: 50%;
    width: 70%;
  }
}
@media(max-width:767px) {
  .ci_caption {
    left: 15%;
    top: 45%;
    width: 80%;
  }
}
@media(max-width:480px) {
  .ci_caption {
    left: 15%;
    top: 40%;
    width: 80%;
  }
}

.ci_caption span {
  font-size: 60px;
  line-height: 1;
}
@media(max-width:1039px) {
  .ci_caption span {
    font-size: 34px;
  }
}
@media(max-width:767px) {
  .ci_caption span {
    font-size: 25px;
  }
}
@media(max-width:479px) {
  .ci_caption span {
    font-size: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */
