.center-login-block {
    display: inline-block;
    float: none;
    text-align: left;
    margin-top: 20vh;
}

.navbar-nav > li > a {
    padding: 15px 25px;
}
/* Блок смены языков */
.btn-group img {
    position: relative;
    top: -3px;
}
.current-language {
    display: inline-block;
}
/* /Блок смены языков */

/* Редактор меню */
.placeholder {
    height: 16px;
    outline: 1px dashed #4183C4;
    border: none !important;
}
.placeholder:before {
    border: none !important;
}
.menu {
    padding-left: 15px;
    list-style: none;
    counter-reset: li;
}
.menu-item {
    cursor: pointer;
    color: #1873b4;
    margin: 6px;
}
.menu-empty {
    min-height: 5px;
}
.sub-menu .fa-angle-down,
.sub-menu .fa-angle-right {
    position: relative;
    top: 4px;
    padding: 0;
    margin: 0;
}
.sub-menu .fa-angle-right {
    text-align: center;
    width: 11px;
}
.fake-width {
    width: 8px;
    display: inline-block;
}
/* /Редактор меню */

.customize-tab .nav-pills > li {
  display: inline-block;
  width: auto;
  float: none;
}

.customize-tab .nav > li > a {
  border: 0;
  border-top-color: none;
  padding: 3px 7px;
}

.flex { display: flex; }
.flex > div { flex: 1; padding: 0; }
.flex > .btn-wrap { flex: 0 auto; }
.flex > .btn-wrap > .btn { border-radius: 0; }

.has-error-label { background-color: #dd4b39; }

.office-map { height: 360px; }

@media(max-width: 767px) {
  .office-map { height: 200px; margin-bottom: 15px; }
}

.my-room-map { height: 500px; }

@media(max-width: 767px) {
  .my-room-map { height: 200px; }
}

.breadcrumb { background-color: #ecf0f5; }