body {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.4;

  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

button, input, select, textarea {
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

a,
button {
  outline: none !important;
}

@media(max-width: 991px) {
  .container {
    width: auto;
  }
}

.well {
  border: 0;
  margin-bottom: 0;
}

.logo-contacts {
  margin: 10px 20px;
}

.img-style {
  height: auto;
  width: 100%;
}

.scroller {
  background-color: #fff;
  border-radius: 50%;
  bottom: 50px;
  cursor: pointer;
  display: none;
  height: 32px;
  position: fixed;
  right: 25px;
  transition: all 0.5s ease 0s;
  width: 32px;
  z-index: 500;
}
.scroller i {
  color: #e1704b;
  font-size: 37px;
  left: -1px;
  position: absolute;
  top: -3px;
}

.padding-top { padding-top: 100px; }
@media(max-width: 1024px) {
  .padding-top { padding-top: 30px; }
}

.padding-block-2-0 {
  padding-top: 20px;
}

.padding-block-0-2 {
  padding-bottom: 20px;
}

.padding-block-1-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-block-0-1 {
  padding-bottom: 10px;
}

.padding-block-1-2 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.padding-block-2-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  border-radius: 0;
  font-size: 16px;
  padding: 8px 15px;
  transition: all 0.5s ease 0s;
}
@media(max-width: 767px) {
  .btn { font-size: 14px; padding: 6px 10px; }
}

.btn-success {
  background-color: #39a9a4;
  border-color: #39a9a4;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success:focus,
.btn-success:hover {
  background-color: #e1704b;
  border-color: #e1704b;
  color: #fff;
}

.btn-warning {
  background-color: #e1704b;
  border-color: #e1704b;
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning.focus:active,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning:focus,
.btn-warning:hover {
  background-color: #39a9a4;
  border-color: #39a9a4;
  color: #ffffff;
}

.btn-link:focus,
.btn-link:hover,
.btn-link:active {
  background-color: transparent;
  color: #000000;
  text-decoration: underline;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #39a9a4;
  border-color: #39a9a4;
  color: #fff;
  cursor: default;
  z-index: 3;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 -20px;
  position: absolute;
}

.register-link {
  background-color: #39a9a4;
  color: #fff;
  text-align: center;
}

.register-link a {
  font-weight: 900;
  color: #fff;
}

.form-control {
  background-color: #ffffff;
  border-color: #eeeeee;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  outline: 0 none;
  padding: 9px 17px 10px 16px;
}
.form-control:focus {
  border-color: #e1704b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(225, 112, 75, 0.65);
  outline: 0 none;
}

.panel { border-radius: 0; }
.modal-content { border-radius: 0; }

.send-button {
  font-weight: 700;
  padding: 15px 20px;
}

.show-reset-pass-form,
.show-login-form {
  padding: 0;
  font-weight: 900;
  font-size: 14px;
}

.margin-15 { margin: 15px 0; }
@media(max-width: 767px) {
  .margin-15 > div { margin: 10px 0; }
}

.alert {
  border-radius: 0;
  margin: 0;
}

.registred-form input,
.registred-form textarea {
  font-size: 16px;
  line-height: 20px;
  outline: 0 none;
  padding: 9px 17px 10px 16px;
  transition: all 0.35s ease 0s;
  height: 40px;
}

.registred-form .form-group {
  margin-bottom: 22px;
}

.panel-right > div {
  text-align: right;
}

.lang-block {
  width: 100%;
  margin-bottom: 20px;
}
.lang-block .btn {
  float: none !important;
  border-radius: 0;
  padding: 4px 12px;
}
.lang-block .dropdown-menu {
  border-radius: 0;
  margin: 0;
}
.lang-block .dropdown-menu > li > a {
  padding-left: 10px;
  padding-top: 3px;
}

@media(max-width: 767px) {
  .lang-block .dropdown-menu {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
  }
}

@media(max-width: 767px) {
  .panel-right > div {
    text-align: center;
  }
}

.user-block { text-align: right; }

@media(max-width: 767px) {
  .user-block { text-align: center; }
}

.user-block a {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
}
@media(max-width: 360px) {
  .user-block a { padding: 0 7px; }
}

.user-block a > i {
  display: block;
}

.cart-empty {
  color: #999;
  text-align: center;
  font-size: 30px;
}
@media(max-width: 767px) {
  .cart-empty { font-size: 20px; }
}

.font-up {
  text-transform: uppercase;
}

.flash-messages > section {
  padding: 0 !important;
}